# do NOT track Python compilation files
*.py[cod]
__python__/*

# do NOT track tox's testing folder
/.tox/

# do NOT track coverage files/folders
/.coverage
/coverage_html

# do NOT track compiled language files
*.mo
*.pot

# do NOT track .env file
/.env

# do NOT track yarn log file
/yarn-error.log

# dot NOT track node_modules directory
/node_modules

# do NOT track webpack tracking file and compiled assets
/static/webpack-stats.json
/static/assets/

# editors and others
.vscode/
.cache
.coverage*
*.env
*.ini
*.pyc
*.sublime-*
*.sqlite3
*.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
