{% templatetag openblock %} load render_bundle from webpack_loader {% templatetag closeblock %}

{% templatetag openblock %} load static {% templatetag closeblock %}
<!doctype html>

<html lang="en">
<head>
    {% templatetag openblock %} gtm_tag {% templatetag closeblock %}

    <meta charset="utf-8">
    <title>{{ project_name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="{{ project_name }} django project!">
    <meta name="theme-color" content="#0f1317" />

    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/png" href="{% templatetag openblock %} static 'images/icons/favicon.png' {% templatetag closeblock %}" sizes="64x64" />
    <link rel="icon" type="image/png" href="{% templatetag openblock %} static 'images/icons/favicon-128.png' {% templatetag closeblock %}" sizes="128x128" />
    <link rel="icon" type="image/png" href="{% templatetag openblock %} static 'images/icons/favicon-192.png' {% templatetag closeblock %}" sizes="192x192" />
    <link rel="icon" type="image/png" href="{% templatetag openblock %} static 'images/icons/favicon-256.png' {% templatetag closeblock %}" sizes="256x256" />
    <link rel="apple-touch-icon" href="{% templatetag openblock %} static 'images/icons/favicon-128.png' {% templatetag closeblock %}" sizes="128x128">
    <link rel="apple-touch-icon" href="{% templatetag openblock %} static 'images/icons/favicon-192.png' {% templatetag closeblock %}" sizes="192x192">
    <link rel="apple-touch-icon" href="{% templatetag openblock %} static 'images/icons/favicon-256.png' {% templatetag closeblock %}" sizes="256x256">
    <link rel="shortcut icon" href="{% templatetag openblock %} static 'images/icons/favicon-128.png' {% templatetag closeblock %}" sizes="128x128" >
    <link rel="shortcut icon" href="{% templatetag openblock %} static 'images/icons/favicon-192.png' {% templatetag closeblock %}" sizes="192x192" >

    {% templatetag openblock %} render_bundle 'main' 'css' {% templatetag closeblock %}
</head>
<body>
{% templatetag openblock %} gtm_noscript_tag {% templatetag closeblock %}

<div id="main_app">
    {% templatetag openblock %} block content {% templatetag closeblock %}
    {% templatetag openblock %} endblock content {% templatetag closeblock %}
</div>

{% templatetag openblock %} block scripts {% templatetag closeblock %}
{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} render_bundle 'main' 'js' {% templatetag closeblock %}
{% templatetag openblock %} facebook_connect_tag {% templatetag closeblock %}
</body>
</html>
