{% load render_entrypoint render_bundle from webpack_loader %}
{% load gtm facebook_connect %}
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}
<!doctype html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  {% gtm %}

  <meta charset="utf-8">
  <title>{% block site_title %}Django Project{% endblock site_title %}</title>
  <meta name="description" content="{% block site_description %}Django Project!{% endblock %}">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" type="image/png"
        href="{% static 'images/icons/favicon.png' %}"
        sizes="64x64"/>
  <link rel="icon" type="image/png"
        href="{% static 'images/icons/favicon-128.png' %}"
        sizes="128x128"/>
  <link rel="icon" type="image/png"
        href="{% static 'images/icons/favicon-192.png' %}"
        sizes="192x192"/>
  <link rel="icon" type="image/png"
        href="{% static 'images/icons/favicon-256.png' %}"
        sizes="256x256"/>

  {% block opengraph %}{% endblock %}

  {% block styles %}
    {% render_entrypoint 'main' 'css' %}
  {% endblock %}
</head>
<body>
{% gtm noscript=True %}

<div id="app">
  {% block content %}
  {% endblock content %}
</div>

{% block scripts %}
  {% render_entrypoint 'main' 'js' %}
  {% facebook_connect %}
{% endblock %}
</body>
</html>
